<!DOCTYPE html>
<html data-ng-app="tamoriApp">
  <head>
    <title>Tamori</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>

          <h2>Login</h2>

          <%= form_tag '/login' do %>
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>


