<% cache build_calculation do %>
  <tr id="<%= dom_id(build_calculation) %>">
    <th><%= build_calculation.priority %></th>
    <td><%= build_calculation.trait_label %></td>
    <td><%= build_calculation %></td>
    <td>
      <%= link_to 'Edit', [:edit, build_calculation] %>
    </td>
  </tr>
<% end %>
