<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for(build_calculation, builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.select_traits_by_category :trait_id %>
        <div class="form-group">
          <%= f.label(:output_key, 'Trait Key') %>
          <%= f.select(:output_key, trait_key_options, {}, { class: 'form-control' }) %>
        </div>
        <div class="form-group">
          <%= f.label :calculator %>
          <%= f.select(:calculator, calculation_options, {}, { class: 'form-control' }) %>
        </div>
        <%= react_component('TraitIdsComponent', { label: 'Inputs', name: 'build_calculation[trait_ids][]', id: 'build-components-trait-ids', value: f.send(:object).trait_ids, systemId: f.send(:object).system_id }) %>
        <div class="form-group">
          <%= f.label(:input_key, 'Input Key') %>
          <%= f.select(:input_key, trait_key_options, {}, { class: 'form-control' }) %>
        </div>
        <%= f.text_field :argument %>
        <%= f.text_field :priority %>
        <div class="form-group">
          <%= f.label(:filter_key, 'Filter Key') %>
          <%= f.select(:filter_key, trait_key_options, {}, { class: 'form-control' }) %>
        </div>
        <%= f.text_field :filter_argument %>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
