<%= render 'systems/breadcrumbs', system: system do %>
  <li class="active">Calculations</li>
<% end %>

<% cache build_calculations do %>
  <h4>Calculations</h4>
  <%= link_to('Add New Calculation', new_system_build_calculation_path) %>
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Priority</th>
        <th>Trait</th>
        <th>Calculation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'build_calculation_row', collection: build_calculations, as: :build_calculation %>
    </tbody>
  </table>
<% end %>
