<%= render 'systems/breadcrumbs', system: build_calculation.system do %>
  <li><%= link_to 'Calculations', system_build_calculations_path(build_calculation.system) %></li>
  <li class="active">New</li>
<% end %>

<%= render 'form', build_calculation: [build_calculation.system, build_calculation] %>
