<% cache build_component do %>
  <tr>
    <td><%= build_component.comment %></td>
    <td><%= build_component.cost %> <%= build_component.cost_type %></td>
    <td><%= link_to 'Edit', [:edit, character, build, build_component] %> | <%= link_to 'Delete', [character, build, build_component], method: :delete %></td>
  </tr>
<% end %>
