<% cache game_session do %>
  <tr>
    <td><%= l(game_session.built_on) %></td>
    <td><%= game_session.name %></td>
    <td><%= game_session.experience_awarded %></td>
    <td>
      <%=  link_to('Edit',   edit_character_game_session_path(character, game_session)) %> |
      <%=  link_to('Delete', [character, game_session], method: :delete) %>
    </td>
  </tr>
<% end %>
