<% content_for(:breadcrumb) do %>
  <li><%= link_to 'Game Sessions', character_game_sessions_path(character) %></li>
  <li class="active"><%= l(game_session.built_on) %> &mdash; <%= game_session.name %></li>
<% end %>

<%= render 'characters/breadcrumbs', character: character %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for([character, game_session], builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.text_field :name %>
        <%= f.text_field :built_on %>
        <%= f.text_field :experience_awarded, label_override: game_session.experience_awarded_label %>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
