<%= content_for(:breadcrumb) do %>
  <li class="active">Game Sessions</li>
<% end %>

<%= render 'characters/breadcrumbs', character: character %>

<% cache game_sessions do %>
  <h3>Builds</h3>
  <%= link_to('Add Game Session', character_game_sessions_path(character), method: 'post') %>
  <table id="builds" class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th>On</th>
        <th>Name</th>
        <th><%= character.experience_awarded_label %></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'game_session_row', collection: game_sessions, as: :game_session, locals: { character: character } %>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th></th>
        <th><%= game_sessions.total_experience_awarded %></th>
        <th></th>
      </tr>
    </tfoot>
  <table>
<% end %>
