<% cache character_sheet do %>
  <tr>
    <td>
      <% if character_sheet.sheet.attached? %>
        <%= image_tag character_sheet.sheet.preview(resize: '50x50>') %>
      <% end %>
    </td>
    <td><%= l(character_sheet.updated_at) %></td>
    <%= react_component('CharacterSheetStatusComponent', { id: character_sheet.id, characterId: character_sheet.character_id }, { tag: 'td' }) %>
    <td>
      <%= link_to('View', character_sheet_path(character_sheet.character_id, character_sheet), target: '_blank') %> |
      <%= link_to('Refresh', character_sheet_path(character_sheet.character_id, character_sheet), method: :patch) %> |
      <%= link_to('Delete',  character_sheet_path(character_sheet.character_id, character_sheet), method: :delete) %>
    </td>
  </tr>
<% end %>
