<% content_for(:breadcrumb) do %>
  <li class="active">Sheets</li>
<% end %>
<%= render 'characters/breadcrumbs', character: character %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Add Character Sheet', character_sheets_path(character), method: :post %>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Last Updated</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'sheet_row', collection: character_sheets, as: :character_sheet %>
      </tbody>
    </table>
  </div>
</div>
