<% content_for(:breadcrumb) do %>
  <li><%= link_to 'Builds', character_builds_path(character) %></li>
  <li>
    <%= link_to [:edit, character, build] do %>
      <%= l(build.built_on) %> &mdash; <%= build.name %>
    <% end %>
  </li>
  <li class="active"><%= active %></li>
<% end %>

<%= render 'characters/breadcrumbs', character: character %>
