<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for([character, build, build_item], builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :trait_id, 'Item' %>
          <%= f.collection_select(:trait_id, user_items, :id, :name, {}, { class: 'form-control' }) %>
        </div>
        <%= f.text_field :comment %>
        <%= f.text_field :qty %>
        <%= f.text_field :location %>
        <%= f.text_field :cost %>
        <%= f.text_field :cost_type %>
        <%= react_component('TextFieldListComponent', { id: 'build-item-notes', name: 'build_item[notes][]', label: 'Notes', value: build_item.notes} ) %>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
