<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for([character, build, build_component], builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.text_field :comment %>
        <%= f.select_traits_by_category :trait_id %>
        <%= render 'value_form', f: f %>
        <%= f.text_field :cost %>
        <%= f.text_field :cost_type %>
        <%= render 'notes_form', build_component: build_component %>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
