<%= render 'breadcrumbs', build: build, character: character, active: "New #{build_component.class.model_name.human}" %>
<%= render 'form',        build: build, character: character, build_component: build_component %>
