<div class="form-group">
  <%= f.label :active %>
  <label class="radio-inline">
    <%= f.radio_button :active, true %>Active
  </label>
  <label class="radio-inline">
    <%= f.radio_button :active, false %>Inactive
  </label>
</div>
