<% cache category do %>
  <section id="<%= dom_id(category) %>">
    <h4><%= category.label %></h4>
    <ul class="list-inline">
      <%= render partial: 'trait_item', collection: category.traits.default_order, as: :trait %>
    </ul>
  </section>
<% end %>
