<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for([system, trait], builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label(:category_id, 'Category') %>
          <%= f.collection_select(:category_id, categories, :id, :label, {}, {class: 'form-control'}) %>
        </div>
        <%= f.text_field :label %>
        <%= f.text_field :name %>
        <%= f.text_field :manual_order %>
      </fieldset>
      <%= collapse_panel(id: 'trait-details-form', title: 'Details (Optional)') do %>
        <% f.fields_for(:detail) do |ff| %>
          <fieldset>
            <%= ff.text_field :book %>
            <%= ff.text_field :page %>
            <%= react_component('TextFieldListComponent', { id: 'trait-detail-attributes-keywords', label: 'Keywords', name: 'trait[detail_attributes][keywords][]', value: trait.detail_keywords }) %>
            <div class="form-group">
              <%= ff.label :description %>
              <%= ff.text_area :description, class: 'form-control' %>
            </div>
            <%= react_component('TextFieldListComponent', { id: 'trait-detail-attributes-raises', label: 'Raises (L5R Only)', name: 'trait[detail_attributes][raises][]', value: trait.detail_raises }) %>
          </fieldset>
          <h4>Properties</h4>
          <fieldset>
            <%= ff.text_field :list %>
            <%= ff.text_field :level %>
            <%= ff.text_field :area %>
            <%= ff.text_field :cost %>
            <%= ff.text_field :damage %>
            <%= ff.text_field :demands %>
            <%= ff.text_field :difficulty %>
            <%= ff.text_field :duration %>
            <%= ff.text_field :range %>
            <%= ff.text_field :roll %>
            <%= ff.text_field :reduction %>
            <%= ff.text_field :tn_bonus %>
          </fieldset>
        <% end %>
      <% end %>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
