<%= render 'systems/breadcrumbs', system: system do %>
  <li class="active">Traits</li>
<% end %>

<h4>Traits</h4>
<p><%= link_to 'Add New Trait', new_system_trait_path(system) %></p>

<% cache categories do %>
  <%= render partial: 'category_section', collection: categories, as: :category %>
<% end %>
