<%= render 'systems/breadcrumbs', system: system do %>
  <li><%= link_to 'Traits', system_traits_path(system) %></li>
  <li class="active">New</li>
<% end %>

<%= render 'form', categories: categories, system: system, trait: trait %>
