<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb" style="background: none; padding-left: 0px">
      <li><%= link_to current_user_name, root_path %></li>
      <% if character.present? %>
        <li><%= link_to 'Characters', characters_path %></li>
        <% if content_for(:breadcrumb) %>
          <li><%= link_to character.name, [:edit, character] %></li>
          <%= yield :breadcrumb%>
        <% else %>
          <li class="active"><%= character.name || 'New' %></li>
        <% end %>
      <% else %>
        <li class="active">Characters</li>
      <% end %>
    </ol>
  </div>
</div>
