<% content_for(:breadcrumb) do %>
  <li class="active">Update</li>
<% end %>
<%= render 'characters/breadcrumbs', character: character %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for character, builder: TamoriFormBuilder do |f| %>
      <fieldset>
        <div class="form-group">
          <label for="system">System</label>
          <p class="form-control-static"><%= character.system_name %></p>
        </div>
        <%= f.text_field :name %>
        <div class="form-group">
          <%= f.label :portrait %>
          <%= react_component('PortraitComponent', { source: 'character_portrait', url: portrait_url(character) }) %>
          <%= f.file_field :portrait %>
        </div>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
