<%= render 'breadcrumbs', character: nil %>

<% cache characters do %>
  <h3>Characters</h3>
  <%= link_to 'Add Character', new_character_path %>
  <table class="table table-striped table-condensed table-bordered">
    <tbody>
      <%= render partial: 'character_row', collection: characters, as: :character %>
    </tbody>
  </table>
<% end %>
