<%= render 'breadcrumbs', character: character %>

<%= form_for(character, builder: TamoriFormBuilder, html: { class: 'col-xs-12 col-md-6 col-lg-3' }) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :system_id, 'System' %>
      <%= f.collection_select :system_id, systems, :id, :name, { include_blank: true }, { class: 'form-control' } %>
    </div>
    <%= f.text_field :name %>
  </fieldset>
  <%= f.submit_button %>
<% end %>
