<%= render 'breadcrumbs', character: character %>

<% cache character do %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3><%= character.name %></h3>
      <p>
        <% if character.portrait.attached? %>
          <%= image_tag character.portrait.variant(resize: 'x100'), html: { align: 'left' } %>
        <% end %>
        <%= character.description %>
      </p>
      <h4>Details</h4>
      <dl class="dl-horizontal">
        <% character.summary_lists.each do |datum| %>
          <dt><%= datum['label'] %></dt>
          <dd><%= datum['value'] %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
