<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-10">
    <ol class="breadcrumb" style="background: none">
      <li><%= link_to 'Home', root_path %></li>
      <% if item.present? %>
        <li><%= link_to('Items', user_items_path) %></li>
        <li class="active">
          <%= item.name || 'New' %>
        </li>
      <% else %>
        <li class="active">Items</li>
      <% end %>
    </ol>
  </div>
</div>
