<%= form_for(user_item, builder: TamoriFormBuilder, html: { class: 'col-xs-12 col-md-6 col-lg-3' }) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label(:category_id, 'Category') %>
      <%= f.collection_select(:category_id, categories, :id, :label_with_system, class: 'form-control') %>
    </div>
    <%= f.text_field :name %>
    <%= f.text_field :book %>
    <%= f.text_field :page %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area(:description, class: 'form-control', rows: 3) %>
    </div>
    <h4>Relationship Details</h4>
    <%= f.text_field :devotion %>
    <%= f.text_field :influence %>
    <%= f.text_field :mentor %>
    <h4>Other Properties</h4>
    <%= f.text_field :list %>
    <%= f.text_field :level %>
  </fieldset>
  <%= f.submit_button %>
<% end %>
