<%= cache user_item do %>
  <tr>
    <td><%= user_item.name %></td>
    <td>
      <%= link_to 'Edit',   [:edit, user_item] %> |
      <%= link_to 'Delete', user_item, method: :delete %>
    </td>
  </tr>
<% end %>
