<%= render 'breadcrumb', item: nil %>
<h2>Items</h2>
<p><%= link_to 'Add New Item', new_user_item_path, class: 'btn btn-primary' %></p>
<% user_items.each do |(category, items)| %>
  <%= content_tag(:section, id: category.parameterize) do %>
    <h4><%= category %></h4>
    <%= content_tag(:table, id: "#{category.parameterize}-table", class: %w(table table-condensed table-bordered table-striped)) do %>
      <tbody>
        <%= render partial: 'user_item_row', collection: items, as: :user_item %>
      </tbody>
    <% end %>
  <% end %>
<% end %>
