<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for(category, builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.text_field :label %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.select :name, category_name_list, {}, { class: 'form-control' } %>
        </div>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
