<%= render 'systems/breadcrumbs', system: system do %>
  <li class="active">Categories</li>
<% end %>

<h4>Categories</h4>
<p><%= link_to 'Create Category', new_system_category_path(system), class: 'btn btn-primary' %></p>
<ul>
  <%= render partial: 'category_row', collection: categories, as: :category %>
</ul>
