<%= render 'systems/breadcrumbs', system: category.system do %>
  <li><%= link_to 'Categories', system_categories_path(category.system) %></li>
  <li class="active">New</li>
<% end %>

<%= render 'form', category: [category.system, category] %>
