<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb" style="background: none; padding-left: 0px">
      <li><%= link_to current_user_name, root_path %></li>
      <% if system.present? %>
        <li><%= link_to 'Systems', systems_path %></li>
        <% if block_given? %>
          <li><%= link_to system.name, system %></li>
          <%= yield %>
        <% else %>
          <li class="active"><%= system.name || 'New' %></li>
        <% end %>
      <% else %>
        <li class="active">Systems</li>
      <% end %>
    </ol>
  </div>
</div>
