<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for(system, builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.text_field :name %>
        <div class="form-group">
          <%= f.label :renderer %>
          <%= f.select :renderer, nil, {}, class: 'form-control' do %>
            <option value="GenericRenderer">Generic</option>
            <option value="L5rRenderer">L5R</option>
            <option value="WodRenderer">Storyteller</option>
          <% end %>
        </div>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>
