<%= render 'breadcrumbs', system: nil %>

<% cache systems do %>
  <h2>Systems</h2>
  <%= link_to 'Add New System', new_system_path %>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      <%= render partial: 'system_row', collection: systems, as: :system %>
    </tbody>
  </table>
<% end %>
