.delete-tag { cursor: pointer; display: inline; }
.tag {  float: left;
        margin-left: 2px;
        margin-right: 2px;
}
.tag-input-div input {
  border:     0px;
  color:      black;
  display:    inline-block;
  float:      left;
  font-size:  13px;
  height:     18px;
  line-height: 18px;
  margin:     2px;
  padding:    0px;
}

.tag-input-div input:focus {
  box-shadow: 0px;
  outline: 0;
}
