<% cache build do %>
  <tr>
    <td><%=  l(build.built_on) %></td>
    <td><%=  build.name %></td>
    <td>
      <%=  link_to('Edit',   edit_character_build_path(character, build)) %> |
      <%=  link_to('Delete', [character, build], method: :delete) %>
    </td>
  </tr>
<% end %>
