<% content_for(:breadcrumb) do %>
  <li><%= link_to 'Builds', character_builds_path(character) %></li>
  <li class="active"><%= l(build.built_on) %> &mdash; <%= build.name %></li>
<% end %>

<%= render 'characters/breadcrumbs', character: character %>


<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <%= form_for([character, build], builder: TamoriFormBuilder) do |f| %>
      <fieldset>
        <%= f.text_field :name %>
        <%= f.text_field :built_on %>
      </fieldset>
      <%= f.submit_button %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Components</h4>
    <p>
      <%= link_to 'Add Aspect',     new_character_build_build_aspect_path(character, build) %> |
      <%= link_to 'Add Attribute',  new_character_build_build_attribute_path(character, build) %> |
      <%= link_to 'Add Essay',      new_character_build_build_essay_path(character, build) %> |
      <%= link_to 'Add Item',       new_character_build_build_item_path(character, build) %> |
      <%= link_to 'Add Property',   new_character_build_build_property_path(character, build) %> |
      <%= link_to 'Add Rank',       new_character_build_build_rank_path(character, build) %>
    </p>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <th></th>
        <th>Cost</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <%= render partial: 'component_row', collection: build.build_components.not_experience, as: :build_component, locals: { character: character, build: build } %>
        <% build.build_components.summarized.each do |summary_component| %>
          <tr>
            <th>Total <%= summary_component.cost_type %></th>
            <td><%= summary_component.cost %></td>
            <td>&nbsp;</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
