<%= content_for(:breadcrumb) do %>
  <li class="active">Builds</li>
<% end %>

<%= render 'characters/breadcrumbs', character: character %>

<% cache builds do %>
  <h3>Builds</h3>
  <%= link_to('Add Build', character_builds_path(character), method: 'post') %>
  <table id="builds" class="table table-striped table-condensed table-bordered">
    <thead>
      <th>Built on</th>
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <%= render partial: 'build_row', collection: builds, as: :build, locals: { character: character } %>
    </tbody>
  <table>
<% end %>
