<% cache character do %>
  <nav role="navigation">
    <h4><%= character.name %></h4>
    <ul class="nav nav-stacked nav-pills nav-fill">
      <li role="presentation"><%= link_to('Overview', character)%></li>
      <li role="presentation"><%= link_to('Build', character_builds_path(character)) %></li>
      <li role="presentation"><%= link_to('Game Sessions', character_game_sessions_path(character)) %></li>
      <li role="presentation"><%= link_to('Sheets', character_sheets_path(character)) %></li>
      <li role="presentation"><%= link_to('Update', [:edit, character]) %></li>
      <li role="presentation"><a href="/logout">Logout</a></li>
    </ul>
  </ul>
<% end %>
