<% cache system do %>
  <ul class="nav nav-stacked nav-pills nav-fill">
    <h4><%= system.name %></h4>
    <li role="presentation"><%= link_to('Overview', system) %></li>
    <li role="presentation"><%= link_to('Categories', system_categories_path(system)) %></li>
    <li role="presentation"><%= link_to('Traits', system_traits_path(system)) %></li>
    <li role="presentation"><%= link_to('Calculations', system_build_calculations_path(system)) %></li>
    <li role="presentation"><a href="/logout" class="danger">Logout</a></li>
  </ul>
<% end %>
