<ul class="nav nav-stacked nav-pills nav-fill">
  <h4><%= current_user_name %></h4>
  <% if current_user_admin? %>
    <li role="presentation"><%= link_to('Systems', systems_path)%></li>
  <% end %>
  <li role="presentation"><%= link_to 'Characters', root_url %></li>
  <li role="presentation"><%= link_to('Items', user_items_path) %></li>
  <li role="presentation"><a href="/logout" class="danger">Logout</a></li>
</ul>
