<!DOCTYPE html>
<html data-ng-app="tamoriApp">
  <%= render partial: 'layouts/header' %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="navigation" class="col-xs-12 col-md-2 bg-info">
          <%= render partial: 'layouts/user_navbar' %>
        </div>
        <div class="col-xs-12 col-md-10">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
