<!DOCTYPE html>
<html data-ng-app="tamoriApp">
  <%= render partial: 'layouts/header' %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="navigation" class="col-xs-12 col-md-2 bg-info">
          <%= render partial: 'layouts/character_navbar', locals: { character: local_assigns[:character] } %>
        </div>
        <div class="col-xs-12 col-md-10">
          <div class="row">
            <div class="col-xs-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
